<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <!--Microsoft Cognitive Services Keys-->
    <add key="subscriptionKey" value=""/>
    <add key="visionApiEndPoint" value=""/>
    <add key="faceApiEndPoint" value=""/>
  </appSettings>
</configuration>